--- 
layout: layouts/base.njk
permalink: /police-patrol/
title: LSPD Ten Codes
description: The Officer's Codes
---

<div class="row">
  <div class="col-sm-12"><img src="/images/ten-codes.png" class="img-fluid" alt="Ten Codes"></div>
  <div class="col-sm-4 text-center"><img src="/images/phonetic-alphabet.png" class="img-fluid" alt="Ten Codes"></div>
</div>
