--- 
layout: layouts/base.njk
permalink: /police-patrol/
title: LSPD Ten Codes
description: The Officer's Codes
---

<div class="row">
  <div class="col-sm-12"><img src="/images/ten-codes.png" class="img-fluid" alt="Ten Codes"></div>
  <div class="col-sm-4 text-center"><img src="/images/phonetic-alphabet.png" class="img-fluid" alt="Ten Codes"></div>
  <div class="col-sm-8 text-center">
  <div class="card">
    <div class="card-header bg-warning ">
      Important 
    </div>
    <div class="card-body">
      <h5 class="card-title">Maranda Rights</h5>
      <p class="card-text">"You have the right to remain silent. Anything you say can and will be used against you in a court of law. You have a right to an attorney. If you cannot afford an attorney, one will be appointed for you.”</p>
      
    </div>
  </div>
  </div>
</div>
